.Name h1 {
  color: aqua;
  background: rgb(8, 20, 20);
  border: 3px solid rgb(158, 83, 255);
  text-align: center;
  padding: 0.3rem;
  margin: 0 px;
}
.Name nav {
  background: rgb(255, 255, 255);
  border: 3px solid rgb(158, 83, 255);
  text-align: center;
  padding: 0.6rem;
  margin: 0 px;
}
body {
  background: rgb(29, 45, 70);
}
* {
  color: rgb(255, 255, 255);
}
.Name nav a {
  color: black;
}
