*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: rgba(2, 48, 87, 0.582);
  font-family: system-ui, sans-serif;
  color: #131212;
  line-height: 1.6;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1rem;
}
p {
  margin-bottom: 1rem;
}
a {
  color: rgb(255, 255, 255);
}
header {
  padding: 1rem;
  border: 0.2rem solid rgb(0, 0, 0);
  margin: 0.5rem;
  color: #fffefe;
  background: rgba(9, 0, 92, 0.719);
  display: flex;
  align-items: stretch;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
}
#work {
  padding: 0.5rem;
  margin: 0.5rem;
  background: rgba(152, 167, 20, 0.993);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  text-align: center;
}
#about {
  padding: 0.5rem;
  margin: 0.5rem;
  background: rgba(152, 167, 20, 0.993);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  text-align: center;
  height: 250px;
}
footer p {
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: flex-end;
}
header nav {
  padding: 1rem;
  margin-bottom: 1rem;
  color: black;
  display: flex;
  justify-content: center;
}
nav a {
  display: flex;
  color: rgb(254, 254, 255);
  align-items: flex-end;
  height: 10px;
  justify-content: space-around;
  padding: 1rem;
  margin: 0.5rem;
}
.partmain {
  display: flex;
  height: 450px;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
}
.work-grid {
  background: rgba(152, 167, 20, 0.993);
  border-radius: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  width: 300px;
  gap: 1rem;
  margin: 0 auto;
}
